@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    display: flex;
}

nav#sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #E8EBED;
    position: fixed;
    transition: 0.5s all ease-in-out;
}







nav#sidebar div.logo {
    text-decoration: none;
    display: flex;
    width: 100%;
    min-height: 65px;
    align-items: center;
    border-bottom: 1px solid #E8EBED;
    padding: 0px 20px;
}

nav#sidebar div.logo .logo-icon {
    margin-left: -3px;
    display: flex;
    justify-content: center;
    min-width: 44px;
}

nav#sidebar div.logo .logo-text {
    margin-left: 2px;
    display: flex;
    transition: 0.5s all ease-in-out;
}


/* =============end logo=============== */

nav#sidebar ul.menu {
    padding: 15px;
    height: calc(100% - 150px);
}

nav#sidebar ul.mode {
    padding: 10px 15px;
    border-top: 1px solid #E8EBED;
    background-color: #fff;
}

nav#sidebar li {
    list-style: none;
}

nav#sidebar li a {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    height: 38px;
    color: #2f3640;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin-bottom: 6px;
}

nav#sidebar li a .icon {
    font-size: 20px;
    min-width: 49px;
    display: flex;
    justify-content: center;
}

nav#sidebar li a span {
    font-size: 14.5px;
    margin-left: 3px;
    margin-top: 3px;
    transition: 0.1s all ease-in-out;
    color: #5F6A7A;
}

nav#sidebar li a.activee {
    background-color: #EEF1F6;
}

nav#sidebar li a:hover {
    background-color: #EEF1F6;
}



#wp-content {
    transition: all 0.5s ease-in-out;
    position: absolute;
    background-color: #fff;
    left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    overflow: auto;
}

#wp-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#wp-content::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
}


#header {
    position: fixed;
    background-color: #fff;
    width: calc(100% - 250px);
    padding: 0px 15px;
    padding-right: 20px;
    min-height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8EBED;
    justify-content: space-between;
    transition: 0.5s all ease-in-out;
    z-index: 1000;
}

#header .menu-icon {
    font-size: 25px;
    color: #2f3640;
    cursor: pointer;
}





#header .profile {
    display: flex;
    align-items: center;
    position: relative;
}

#header .profile .box-left {
    display: flex;
    align-items: center;
    margin-right: 30px;
}


#header .profile .box-left .info-icon {
    margin-left: 10px;
    font-size: 20px;
    color: #2f3640;
    cursor: pointer;
}

#header .profile .box-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#header .profile .box-right img {
    width: 30px;
    border-radius: 50%;
}

#header .profile .box-right span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 6px;
    color: #2f3640;
}

#header .profile ul.profile-setting {
    position: absolute;
    border: 1px solid #E2E8F0;
    background-color: #fff;
    z-index: 1200;
    top: 60px;
    right: -3px;
    width: 170px;
    padding: 10px 7px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

#header .profile ul.profile-setting li {
    list-style: none;
}

#header .profile ul.profile-setting li a {
    text-decoration: none;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
    padding: 0px 8px;
    border-radius: 5px;
    cursor: pointer;
}

#header .profile ul.profile-setting li a:hover {
    background-color: #EEF1F6;
}

#header .profile ul.profile-setting li a .icon {
    width: 30px;
    color: #2f3640;
    font-size: 17px;
}

#header .profile ul.profile-setting li a span {
    font-size: 14px;
    color: #5F6A7A;
}

#header .profile ul.profile-setting.active {
    position: absolute;
    top: 40px;
    opacity: 1;
    pointer-events: auto;
}


#content {
    margin-top: 80px;
    padding: 0px 15px;
    width: 100%;
    padding-right: 20px;
}

#content h2 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 23px;
    color: #2e3033;
    margin-bottom: 25px;
}






nav#sidebar.close {
    width: 80px;
}

nav#sidebar.close div.logo a.logo-text {
    opacity: 0;
    pointer-events: none;
}

nav#sidebar.close li a span {
    opacity: 0;
    pointer-events: none;
}

nav#sidebar.close~#wp-content {
    left: 80px;
    width: calc(100% - 80px);
}

nav#sidebar.close~#wp-content #header {
    width: calc(100% - 80px);
}