#content .box-table .row-1 {
    width: 100%;
    margin-bottom: 20px;
}

#content .box-table .row-1 .search {
    width: 450px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #BDC3C7;
    display: flex;
    align-items: center;
    position: relative;
}

#content .box-table .row-1 .search .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 19px;
    color: #7f8c8d;
    cursor: pointer;
}

#content .box-table .row-1 .search .search-icon:hover {
    color: #606a6a;
}


#content .box-table .row-1 .search .search-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    padding-left: 35px;
    padding-right: 18px;
    width: 100%;
}






#content .box-table .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

#content .box-table .row-1 .box-left {
    display: flex;
    align-items: center;
}

#content .box-table .row-1 .box-left select {
    width: 200px;
    padding: 7px;
    outline: none;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#content .box-table .row-1 .box-left button {
    padding: 8px 15px;
    background-color: #1BA4BE;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 14px;
}

#content .box-table .row-1 .box-left button:hover {
    background-color: #0caccc;
}

#content .box-table .row-1 .box-right button {
    padding: 8px 12px;
    background-color: #20AB8A;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

#content .box-table .row-1 .box-right button:hover {
    background-color: #19bd97;
}

#content .box-table .row-1 .box-right button .icon-add {
    margin-right: 3px;
}


#content .box-table table.row-2,
th,
td {
    border-collapse: collapse;
    border: 1px solid #E2E8F0 !important;
    font-size: 15px;
    padding: 9px 12px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#content .box-table table.row-2 {
    margin-top: 15px;
    width: 100%;
    text-align: left;
}

#content .box-table table.row-2 th {
    font-weight: 500;
}

#content .box-table table.row-2 td .icon {
    font-size: 17px;
}

#content .box-table table.row-2 td .icon-edit {
    margin-right: 8px;
}

#content .box-table table.row-2 td .icon:hover {
    color: #2852bd;
}

#content .box-table table.row-2 td {
    font-size: 14px;
    color: #1e2129;
}


#content .box-table table.row-2 tr:not(.col-title):hover {
    background-color: #EEF1F6;
}




#content .box-table .row-3 {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#content .box-table .row-3 .paginationn {
    display: flex;
}

#content .box-table .row-3 .paginationn li {
    list-style: none;
}

#content .box-table .row-3 .paginationn li a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e2129;
    border-radius: 5px;
    margin: 0px 2px;
    font-size: 15px;
}

#content .box-table .row-3 .paginationn li:first-child a,
#content .box-table .row-3 .paginationn li:last-child a {
    color: #a9abaa;
    font-size: 20px;
}

#content .box-table .row-3 .paginationn li a:hover {
    border: 1px solid #BDC3C7;
}

#content .box-table .row-3 .paginationn li.active a {
    background-color: #546de5;
    color: #fff;
}





.modal-add {
    .form-add {
        display: flex;
        padding: 0px 10px;

        .box-left {
            width: 57%;

            .form-group {
                padding: 10px 0px;
                padding-right: 20px;
                display: flex;
                align-items: center;

                label {
                    width: 25%;
                    padding: 5px 0px;
                    font-weight: 400;
                    font-size: 15px;
                    color: rgb(51, 48, 48);
                }

                input,
                select {
                    width: 75%;
                    padding: 5px 15px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #dee2e6;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }

        .box-right {
            width: 43%;
            margin: 10px 0px;
            position: relative;

            .label-upload {
                border: 2px dashed #dee2e6;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                color: #333;

                .arrow-up {
                    font-size: 40px;
                    color: #95afc0;
                }

                span.text-browse {
                    font-size: 15px;
                    margin-top: 15px;
                    font-weight: 400;
                    color: #666a6c;
                }

                span.btn-browse {
                    margin-top: 15px;
                    font-size: 13px;
                    background-color: #27ae60;
                    color: #fff;
                    border-radius: 4px;
                    padding: 8px 10px;
                    transition: all 0.1s ease;

                    &:hover {
                        background-color: #15964d;
                    }
                }

            }

            .image-preview {
                width: 85%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 100;
                border-radius: 10px;
            }

            .clone-image {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 25px;
                z-index: 110;
                color: #938e8e;
            }

            border-radius: 10px;
            overflow: hidden;
        }
    }

    //style btn close && save



    .btn-close-user,
    .btn-add-user {
        padding: 7px 15px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        transition: all 0.1s ease;
    }

    .btn-close-user {
        background-color: #7f8c8d;

        &:hover {
            background-color: #6f7c7e;
        }
    }

    .btn-add-user {
        background-color: #456cd6;

        &:hover {
            background-color: #0e4bf1;
        }
    }
}